@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);

  --dark-grayish-red: hsl(0, 6%, 24%);

  --gradient1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --gradient2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav {
  margin-top: 2em;
  margin-left: 2em;
  margin-bottom: 2em;
}

body {
  background-image: var(--gradient1);
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: var(--desaturated-red);
}

input {
  background-color: var(--gradient2);
  border-color: var(--desaturated-red);
  border-style: solid;
  border-width: 0.1em;
  height: 50px;
  width: 300px;
  border-radius: 25px;
  padding: 10px 20px;
}

input::placeholder {
  color: var(--desaturated-red);
  font-weight: 300;
}

.submit-image {
  cursor: pointer;
  background-image: var(--gradient2);
  border-radius: 20px;
  border-style: none;
  box-shadow: 2px 2px 5px;
  padding: 10px 20px;
  height: 50px;
  width: 60px;
  margin-left: -3.5em;
}

h1 {
  font-size: 2.5em;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 0.6em;
  text-align: center;
  letter-spacing: 0.25em;
}

.split {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 100px;
}

.desktop-logo {
  display: none;
}

.hero-image {
  display: block;
  margin: 0 auto;
  margin-bottom: 3.5em;
}

.hero-desktop {
  display: none;
}

.emphasis {
  color: var(--dark-grayish-red);
  font-weight: 600;
}

.description {
  text-align: center;
  line-height: 1.5;
  font-size: 0.9em;
  padding-left: 2em;
  padding-right: 1.75em;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
  margin-top: 1.8em;
}
.icon-error {
  visibility: hidden;
  transform: translateX(-6em);
}
.error-text {
  color: var(--soft-red);
  padding: 10px 20px;
  text-align: center;
}

@media (min-width: 768px) {
  nav {
    display: none;
  }

  h1 {
    font-size: 4em;
    text-align: left;
  }

  .description {
    text-align: left;
    margin-right: 2em;
    padding: 0;
  }

  .desktop-logo {
    display: block;
    width: 150px;
    margin-left: 10.5em;
    margin-top: 4em;
  }

  .split {
    display: flex;
    flex-direction: row-reverse;
  }

  .hero-image {
    margin: 0;
  }
  .hero-mobile {
    display: none;
  }
  .hero-desktop {
    display: block;
  }
  .main-content {
    display: flex;
    flex-direction: column;
  }
  .content {
    margin-left: 2em;
    margin-right: 3em;
    padding: 8.5em;
    padding-bottom: 0em;
  }

  .form {
    display: flex;
    justify-content: flex-start;
    margin-top: 3em;
  }

  .error-text {
    text-align: left;
  }

  .icon-error {
    /* visibility: hidden; */
    transform: translateX(-9.5em);
  }

  input {
    background-color: var(--gradient2);
    border-color: var(--desaturated-red);
    border-style: solid;
    border-width: 0.1em;
    height: 60px;
    width: 425px;
    border-radius: 25px;
    padding: 10px 20px;
  }

  .submit-image {
    cursor: pointer;
    background-color: var(--gradient2);
    border-radius: 30px;
    border-style: none;
    box-shadow: 2px 2px 5px;
    padding: 10px 20px;
    height: 60px;
    width: 100px;
    margin-left: -4.5em;
  }
}
